/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */

 *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
   all: unset;
   display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
   cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
   list-style: none;
}

/* For images to not be able to exceed their container */
img {
   max-width: 100%;
}

/* removes spacing between cells in tables */
table {
   border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
   -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
   white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
   -webkit-appearance: revert;
   appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
   color: unset;
}

/* fix the feature of 'hidden' attribute.
  display:revert; revert to element instead of attribute */
:where([hidden]) {
   display: none;
}

/* revert for bug in Chromium browsers
  - fix for the content editable attribute will work properly.
  - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
   -moz-user-modify: read-write;
   -webkit-user-modify: read-write;
   overflow-wrap: break-word;
   -webkit-line-break: after-white-space;
   -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
   -webkit-user-drag: element;
}






@font-face {
   font-family: 'Monument Extended';

   src: url('../assets/fonts/MonumentExtended-Bold.woff2') format('woff2');

   font-style: bold;
 }

 





:root {
   --bc-primary-font: 'Open Sans', serif;
   --bc-secondary-font: 'Monument Extended', serif;

   --bc-nav-font-size: 1.8rem;
   --bc-greetings-font-size: 5rem;

   --bc-primary-font-color: white;

   --bc-bg-color: #7322E1;

   --icon-color: #B5B5BD;

   --secondary-bg-color: #111114;
   --bc-secondary-accent-color: #201E25;

   --bc-secondary-font-color: #F1F1F3;
   --bc-secondary-border-color: #4B4A4F;

   --M-spacer: 4rem;
}






html, body {
   height: 100%;

   /* Minder rekenwerk 🙄 */
   font-size: 62.5%; 
}


body {
   display: flex;
   
   align-items: center;
   justify-content: center;

   background-color: var(--bc-bg-color);
}







main {
   position: absolute;
   
   width: 100%;  
   height: 100%;
}




main section:nth-child(1) nav {
   display: flex;
   flex-direction: column;

   justify-content: center;

   width: 100%;
   height: 4rem;
}

main section:nth-child(1) nav ul {
   padding: 0 1rem;

   display: flex;
   
   justify-content: space-between;
}

main section:nth-child(1) nav ul li {
   font-family: var(--bc-primary-font);
   font-size: var(--bc-nav-font-size);

   color: var(--bc-primary-font-color);

   text-decoration: none;
}




main section:nth-child(1) {
   backface-visibility: hidden;
  
   transform: perspective(1000px) rotateY(0deg);
   transition: 1s;

   position: relative;

   display: flex;
   flex-direction: column;

   justify-content: center;
   align-items: center;

   width: 100%;
   height: 100%;

   background-color: var(--bc-bg-color);

   box-shadow:
   6.7px 6.7px 23.3px rgba(0, 0, 0, 0.032),
   22.3px 22.3px 78.2px rgba(0, 0, 0, 0.048),
   100px 100px 350px rgba(0, 0, 0, 0.08);
}

main section:nth-child(1) button {
   position: absolute;

   width: 24rem;
   height: auto;

   animation: enthousiastme 1s infinite linear;
}

main section:nth-child(1) button img {
   object-fit: cover;

   width: 100%;
   height: auto;
}


@keyframes enthousiastme {
   0% {
     -webkit-transform: translate(0);
             transform: translate(0);
   }
   20% {
     -webkit-transform: translate(-2px, 2px);
             transform: translate(-2px, 2px);
   }
   40% {
     -webkit-transform: translate(-2px, -2px);
             transform: translate(-2px, -2px);
   }
   60% {
     -webkit-transform: translate(2px, 2px);
             transform: translate(2px, 2px);
   }
   80% {
     -webkit-transform: translate(2px, -2px);
             transform: translate(2px, -2px);
   }
   100% {
     -webkit-transform: translate(0);
             transform: translate(0);
   }
 }

 
 

 main section:nth-child(1) > ul {
   padding: 0 1.6rem;

   display: grid;

   grid-template-columns: 1fr;

   grid-template-rows: auto;

   width: 100%;
   height: 100%;
}


main section:nth-child(1) ul li:nth-child(even) {
   justify-self: end;
}

main section:nth-child(1) ul li p {
   font-family: var(--bc-secondary-font);

   font-size: var(--bc-greetings-font-size);

   color: var(--bc-primary-font-color);
}










main section:nth-child(2) {
   position: absolute;

   top: 0;  left: 0;

   display: flex;

   flex-direction: column;

   align-items: center;

   gap: 2rem;

   width: 100%;  height: 100%;

   backface-visibility: hidden;

   transform: perspective(1000px) rotateY(-180deg);
   transition: 1s;

   background-color: var(--secondary-bg-color);
}

main section:nth-child(1).kaart_draaien_1 {
 transform: perspective(1000px) rotateY(180deg);
}

main section:nth-child(2).kaart_draaien_2 {
 transform: perspective(1000px) rotateY(0deg);
}


main section:nth-child(2) nav {
   width: 90%;
   height: 6rem;
}

/* TO DO AFSTAND TUSSEN NAVIGATIE EN SLEUREN FIXEN. */
main section:nth-child(2) nav ul {
   position: relative;

   display: flex;
   flex-direction: row;

   align-items: center;

   justify-content: center;

   width: 100%;
   height: 100%;
}

main section:nth-child(2) nav ul li:nth-child(2) {
   position: absolute;

   right: 0;
}


main section:nth-child(2) nav ul li:nth-child(1) h1 {
   font-family: var(--bc-primary-font);
   font-size: 2rem;

   color: var(--bc-primary-font-color);
}



/* TO DO AFBEELDING IN BUTTON FIXEN, GROOTTE EN IN PHOTOSHOP CORRIGEREN. */
main section:nth-child(2) nav ul li:nth-child(2) button {
   font-family: var(--bc-primary-font);
   font-size: 2rem;
   font-weight: 500;

   color: var(--bc-primary-font-color);

   border: none;
   background: none;
}


main section:nth-child(2) article {
   padding-left: 3rem;

   display: flex;

   align-items: center;

   gap: 2rem;

   width: 90%;
   height: 10rem;

   border-radius: 1rem;

   background-color: var(--bc-secondary-accent-color);
}

main section:nth-child(2) article figure {
   overflow: hidden;

   width: 6rem;
   height: 6rem;

   border-radius: 50%;

   background-color: var(--bc-bg-color);
}

main section:nth-child(2) article figure img {
   width: 100%;

   object-fit: contain;
}


main section:nth-child(2) article figcaption h2 {
   padding-bottom: 0.5rem;

   font-family: var(--bc-primary-font);
   font-size: 2rem;
   font-weight: 500;

   color: var(--bc-secondary-font-color);
}

main section:nth-child(2) article figcaption p {
   font-family: var(--bc-primary-font);
   font-size: 1.4rem;

   color: var(--bc-secondary-font-color);
}

main section:nth-child(2) > ul {
   display: flex;
   flex-direction: column;

   align-items: center;

   width: 90%;
   height: auto;

   border-radius: 1rem;

   background-color: var(--bc-secondary-accent-color);
}

main section:nth-child(2) > ul li {
   padding-left: 5rem;

   position: relative;

   display: flex;

   align-items: center;

   width: 100%;
   height: 6rem;

   font-family: var(--bc-primary-font);
   
   color: var(--bc-secondary-font-color);
}

/* TO DO Iconen aan het begin oplossen. */
main section:nth-child(2) > ul li::before {
   position: absolute;

   /* Bijbehorend icoon toevoegen. */
   content: '';

   top: calc(50% - 2rem / 2);
   left: 2rem;

   width: 2rem;
   height: 2rem;
}

main section:nth-child(2) article + ul li:nth-child(1)::before {
   background-image:url('../assets/icons/globe.svg');

   background-position: center;
   background-repeat: no-repeat;
}



main section:nth-child(2) > ul li::after {
   position: absolute;

   content: '';

   top: calc(50% - 1.5 / 2);
   right: 2rem;

   width: 1.5rem;
   height: 1.5rem;

   background-image:url('../assets/icons/arrow_right.svg');
   background-position: center;
   background-repeat: no-repeat;

}

main section:nth-child(2) > ul li p {
   font-size: 1.5rem;
}


main section:nth-child(2) > ul li:not(:last-of-type) {
   border-bottom: 0.1rem solid var(--bc-secondary-border-color);
}




@media only screen and (min-width: 450px) {

      :root {
         --bc-nav-font-size: 1.4rem;
         --bc-greetings-font-size: 4.5rem;
      }

      main {
      position: absolute;
      
      width: 36rem;  
      height: 66rem;
   }

   main section:nth-child(1) > ul {
      padding: 0 1.6rem;

      display: grid;

      grid-template-columns: 1fr;

      grid-template-rows: auto;

      width: 100%;
      height: 100%;
   }


   main section:nth-child(1) {
      border: 0.6rem solid #E9BBFC;
   }

   main section:nth-child(1), main section:nth-child(2) {
      border-radius: 0.5rem;

      box-shadow:
   6.7px 6.7px 23.3px rgba(0, 0, 0, 0.032),
   22.3px 22.3px 78.2px rgba(0, 0, 0, 0.048),
   100px 100px 350px rgba(0, 0, 0, 0.08);
   }

}