/***
    The new CSS reset - version 1.7.2 (last updated 23.6.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */

 *:where(:not(html, iframe, canvas, img, svg, video):not(svg *, symbol *)) {
   all: unset;
   display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
   box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
   cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
   list-style: none;
}

/* For images to not be able to exceed their container */
img {
   max-width: 100%;
}

/* removes spacing between cells in tables */
table {
   border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
   -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
   white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
   -webkit-appearance: revert;
   appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
   color: unset;
}

/* fix the feature of 'hidden' attribute.
  display:revert; revert to element instead of attribute */
:where([hidden]) {
   display: none;
}

/* revert for bug in Chromium browsers
  - fix for the content editable attribute will work properly.
  - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
   -moz-user-modify: read-write;
   -webkit-user-modify: read-write;
   overflow-wrap: break-word;
   -webkit-line-break: after-white-space;
   -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
   -webkit-user-drag: element;
}



/**********/
/* Fonts */
/*********/

@font-face {
   font-family: 'Monument Extended';

   src: url('../assets/fonts/MonumentExtended-Bold.woff2') format('woff2');

   font-style: bold;
 }



/*********************/
/* Custom Properties */
/*********************/

:root {
   --primary-font: 'Open Sans', serif;
   --primary-font-color: white;

   --secondary-font: 'Monument Extended', serif;
   --secondary-font-color: #F1F1F3;

   --nav-font-size: 1.8rem;

   --greetings-font-size: 5rem;

   --primary-bg-color: #7322E1;

   --icon-color: #B5B5BD;
   --links-color: #B5B5BD;
   --links-border-color: #4B4A4F;

   --label-primary-font-color: white;

   --secondary-bg-color: #111114;
   --secondary-accent-color: #201E25;
}




/********/
/* Body */
/********/
html {
   overflow: hidden;
}

html, body {
   height: 100%;

   /* Minder rekenwerk 🙄 */
   font-size: 62.5%; 
}


body {
   display: flex;
   
   align-items: center;
   justify-content: center;

   background-color: var(--secondary-accent-color);
}



/********/
/* Main */
/********/

main {
   position: absolute;
   
   width: 100%;  
   height: 100%;
}


/* Navigatie */

main section:nth-child(1) nav {
   display: flex;
   flex-direction: column;

   justify-content: center;

   width: 100%;
   height: 4rem;
}

main section:nth-child(1) nav ul {
   padding: 0 1rem;

   display: flex;
   
   justify-content: space-between;
}

main section:nth-child(1) nav ul li {
   font-family: var(--primary-font);
   font-size: var(--nav-font-size);

   color: var(--primary-font-color);

   text-decoration: none;
}


/* Voorkant Kaart */

main section:nth-child(1) {
   backface-visibility: hidden;
  
   transform: perspective(1000px) rotateY(0deg);
   transition: 1s;

   position: relative;

   display: flex;
   flex-direction: column;

   justify-content: center;
   align-items: center;

   width: 100%;
   height: 100%;

   background-color: var(--primary-bg-color);

   box-shadow:
   6.7px 6.7px 23.3px rgba(0, 0, 0, 0.032),
   22.3px 22.3px 78.2px rgba(0, 0, 0, 0.048),
   100px 100px 350px rgba(0, 0, 0, 0.08);
}

/* Mijn Klikbare Hoofd */

main section:nth-child(1) button {
   position: absolute;

   width: 24rem;
   height: auto;

   animation: enthousiastme 1s infinite linear;
}

main section:nth-child(1) button img {
   object-fit: cover;

   width: 100%;
   height: auto;
}

/* Mijn Constant Bewegende Hoofd */

@keyframes enthousiastme {
   0% {
             transform: translate(0);
   }
   20% {
             transform: translate(-0.4rem, 0.4rem);
   }
   40% {
             transform: translate(-0.4rem, -0.4rem);
   }
   60% {
             transform: translate(0.4rem, 0.4rem);
   }
   80% {
             transform: translate(0.4rem, -0.4rem);
   }
   100% {
             transform: translate(0);
   }
 }


 /* 9 Verschillende Manieren Van "Hallo" */

 main section:nth-child(1) > ul {
   padding: 0 1.6rem;

   display: grid;

   grid-template-columns: 1fr;

   grid-template-rows: auto;

   width: 100%;
   height: 100%;
}

main section:nth-child(1) ul li:nth-child(even) {
   justify-self: end;
}

main section:nth-child(1) ul li p {
   font-family: var(--secondary-font);

   font-size: var(--greetings-font-size);

   color: var(--primary-font-color);
}


/* Achterkant Kaart */

main section:nth-child(2) {
   position: absolute;

   top: 0;  
   left: 0;

   display: flex;

   flex-direction: column;

   align-items: center;

   gap: 2rem;

   width: 100%;  height: 100%;

   backface-visibility: hidden;

   transform: perspective(1000px) rotateY(-180deg);
   transition: 1s;

   background-color: var(--secondary-bg-color);
}

main section:nth-child(1).kaart_draaien_1 {
 transform: perspective(1000px) rotateY(180deg);
}

main section:nth-child(2).kaart_draaien_2 {
 transform: perspective(1000px) rotateY(0deg);
}


/* Navigatie */

main section:nth-child(2) nav {
   width: 90%;
   height: 6rem;
}

main section:nth-child(2) nav ul {
   position: relative;

   display: flex;
   flex-direction: row;

   align-items: center;

   justify-content: center;

   width: 100%;
   height: 100%;
}

main section:nth-child(2) nav ul li:nth-child(1) h2 {
   font-family: var(--primary-font);
   font-size: 1.8rem;

   color: var(--primary-font-color);
}

main section:nth-child(2) nav ul li:nth-child(2) {
   position: absolute;

   right: 0;
}

main section:nth-child(2) nav ul li:nth-child(2) button {
   font-family: var(--primary-font);
   font-size: 1.6rem;
   font-weight: 500;

   color: var(--primary-font-color);

   border: none;
   background: none;
}

/* Algemene Styling Ul's Achterkant */
main section:nth-child(2) ul {
   display: flex;
   flex-direction: column;

   align-items: center;

   width: 90%;
   height: auto;
}

main section:nth-child(2) > ul li {
   width: 100%;
   height: 6rem;
}

main section:nth-child(2) > ul li a {
   padding-left: 2rem;

   display: flex;
   
   align-items: center;
   
   width: 100%;
   height: 100%;
}

main section:nth-child(2) > ul li a h2 {
   position: relative;

   padding: 0 4rem;

   font-family: var(--primary-font);
   font-size: 1.8rem;

   width: 100%;

   color: var(--links-color);
}

main section:nth-child(2) > ul li a h2::before {
   --icon-size: 2rem;

   position: absolute;

   top: calc(50% - var(--icon-size) / 2);
   left: 0;

   content: ' ';

   width: var(--icon-size);
   height: var(--icon-size);
}

main section:nth-child(2) ul:nth-child(3) li:nth-child(1) a h2::before {
   background-image: url('../assets/icons/globe.svg');
}

main section:nth-child(2) ul:nth-child(4) li:nth-child(1) a h2::before {
   background-image: url('../assets/icons/discord_icon.svg');
}

main section:nth-child(2) ul:nth-child(4) li:nth-child(2) a h2::before {
   background-image: url('../assets/icons/github_icon.svg');
}

main section:nth-child(2) ul:nth-child(4) li:nth-child(3) a h2::before {
   background-image: url('../assets/icons/instagram_icon.svg');
}

main section:nth-child(2) > ul li a h2::after {
   --arrow-size: 1.5rem;

   position: absolute;

   top: calc(50% - var(--arrow-size) / 2);
   right: 2rem;

   content: ' ';

   width: var(--arrow-size);
   height: var(--arrow-size);

   background-image: url('../assets/icons/arrow_right.svg');
}

main section:nth-child(2) > ul:nth-child(2) li {
   padding-left: 2rem;

   display: flex;

   align-items: center;

   gap: 1.5rem;

   width: 100%;
   height: 8rem;

   border-radius: 1rem;

   background-color: var(--secondary-accent-color);
}

main section:nth-child(2) > ul:nth-child(2) li figure {
   overflow: hidden;

   width: 5rem;
   height: 5rem;

   border-radius: 50%;
}

main section:nth-child(2) > ul:nth-child(2) li img {
   width: 100%;

   object-fit: contain;
}

main section:nth-child(2) > ul:nth-child(2) li figcaption h2 {

   font-family: var(--primary-font);
   font-size: 1.8rem;
   font-weight: 500;

   color: var(--secondary-font-color);
}

main section:nth-child(2) > ul:nth-child(2) li figcaption p {
   font-family: var(--primary-font);
   font-size: 1.4rem;

   color: var(--secondary-font-color);
}


main section:nth-child(2) ul:nth-child(3) {
   border-radius: 1rem;
   background-color: var(--secondary-accent-color);
}


main section:nth-child(2) ul:nth-child(4) {
   border-radius: 1rem;
   background-color: var(--secondary-accent-color);
}

main section:nth-child(2) ul:nth-child(4) li:not(:last-of-type) {
   border-bottom: 0.1rem solid var(--links-border-color);
}





















@media only screen and (min-width: 450px) {

      :root {
         --nav-font-size: 1.4rem;
         --greetings-font-size: 4.5rem;
      }

      main {
      position: absolute;
      
      width: 36rem;  
      height: 66rem;
   }

   main section:nth-child(1) > ul {
      padding: 0 1.6rem;

      display: grid;

      grid-template-columns: 1fr;

      grid-template-rows: auto;

      width: 100%;
      height: 100%;
   }


   main section:nth-child(1), main section:nth-child(2) {
      border-radius: 0.5rem;

      box-shadow:
   6.7px 6.7px 23.3px rgba(0, 0, 0, 0.032),
   22.3px 22.3px 78.2px rgba(0, 0, 0, 0.048),
   100px 100px 350px rgba(0, 0, 0, 0.08);
   }

}